html {
  scroll-behavior: smooth;
}
body {
  position: relative !important;
  font-family: "poppins", sans-serif !important;
  overflow-x: hidden;
}
.sticky-top {
  background-color: #000;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
#btn-back-to-top {
  position: fixed;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  bottom: 28px;
  right: 30px;
  display: none;
  z-index: 99;
}
#logo {
  height: 60px !important;
  padding: 10px;
}

.bi {
  height: 70px;
}
.navbar {
  padding: 0 !important;
}
.navicon {
  height: 21px !important;
}
.smicon {
  height: 28px;
}

#email {
  font-size: 14px;
  color: grey;
}

.currentItem {
  border-bottom: 2px solid white;
}

.nav-item {
  margin: 0 10px 0;
}
.learnmore {
  background-color: black !important;
  border: none !important;
}
.learnmore,
.booknow {
  font-size: 14px !important;
  padding: 14px !important;
  width: 24%;
  font-weight: 500 !important;
}

.car {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title h2,
.desc {
  font-size: 25px;
}

.title .desc {
  font-size: 20px;
  font-weight: 300;
}
.title h1 {
  font-weight: 700;
  font-size: 57px;
  font-weight: 700;
}
.col-md-6 {
  height: 74vh;
}
.cart .col-md-6 {
  height: initial !important;
}
/* .about .col-md-6 {
    height: 60vh !important;
} */
.process .col-md-4 {
  margin: 6rem 0 8rem;
}
.process {
  margin-top: 7rem;
}
.about {
  background-image: url("../assets/wave.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  padding-top: 8rem;
}
.av {
  height: 6vh;
  text-align: center;
  color: white;
}
.av h3,
.process h3,
.about h3,
.carousel h3 {
  padding: 7px;
  font-size: 17px;
  font-weight: 400;
}
.process h3,
.about h3,
.carousel h3 {
  line-height: 1.6;
}
.deal {
  color: white !important;
  border-bottom: 1px solid white;
}
.deal:hover {
  text-decoration: none;
}
.process h1,
.about h1 {
  font-size: 43px;
  font-weight: 700;
}
.process h2,
.about h2 {
  font-size: 26px;
  font-weight: 600;
}
.cart h4 {
  font-size: 1.2rem !important;
}

.smalltext {
  font-size: 22px !important;
  font-weight: 500 !important;
}
.smallestText {
  font-size: 15px !important;
  padding: 16px;
}

/* LOGOS SLIDER */

.slick-slide {
  padding-top: 2rem;
  margin: 0 70px;
}
.slick-slide img {
  width: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-initialized .slick-slide {
  display: block;
}

/* --------------------- TESTIMONIALS ----------------------- */
.review {
  margin-top: 6rem;
  border-radius: 10%;
}

.carouselTitle {
  text-align: center;
  position: relative;
  margin: 60px 0 60px;
}
.carouselTitle::after {
  content: "";
  width: 180px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #db584e;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0.8;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 8rem auto;
  padding: 0 70px;
}
.carousel-item {
  padding: 0 30px 0;
  font-size: 14px;
  text-align: center;
  oerflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 33px 0 12px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #db584e;
}
.carousel .carousel-control {
  width: 40px;
  height: 20px;
  margin-top: -20px;
  top: 40%;
  background: none;
}
.carousel-control i {
  font-size: 50px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

#map {
  height: 18rem;
  border-radius: 20px;
}
.contact img {
  width: 20px;
  padding-bottom: 4px;
  margin-right: 15px;
}
footer i:hover {
  cursor: pointer;
}

.footerLinks i {
  height: 40px !important;
  width: 40px !important;
  background-color: black;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
}
footer h3::after {
  content: "";
  width: 180px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #db584e;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0.8;
}
footer p {
  color: #ddd;
  font-weight: 200;
  font-size: 14px;
  word-spacing: 3px;
  padding-top: 6px;
}
.form-inline button,
.form-inline input {
  font-size: 15px !important;
}

/* CONTACT US  */
label {
  font-size: 15px;
  font-weight: 500;
}
.contact button {
  color: #fff;
  font-size: 14px;
  background-color: #1a1110;
  border: 1px solid #000;
  width: 100%;
}
.contact button:hover {
  color: #1a1110;
  background-color: #fff;
}
input,
textarea {
  font-family: "Courier New", Courier, monospace !important;
}
.contact input {
  height: 50px !important;
}
.contact,
.form-inline input {
  font-family: "Open Sans" !important;
}
.numbos {
  font-size: 36px !important;
}
/* ----------------------------------------------------------------------------------------------------------------------- */
/* Responsive stuff  */
@media screen and (max-width: 1630px) {
  .about .col-md-6 {
    height: 85vh !important;
  }
}

/* (small laptop screen) text / button margin and width */
@media screen and (max-width: 1260px) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 20px !important;
    margin-bottom: 25px !important;
  }
  .desc,
  h3 {
    font-size: 14px !important;
  }
  .learnmore,
  .booknow {
    width: 50% !important;
    margin-top: 15px !important;
  }
}

/* (tablet) centering dark nav links and removing lining / making ul horizontal */
@media screen and (max-width: 998px) {
  .navbar-dark ul {
    text-align: center;
    padding: 15px !important;
  }
  .navbar-light ul {
    display: inline !important;
  }
  .b {
    display: none !important;
  }
  .nav-link {
    border-bottom: none !important;
  }
}
/* (Phone screen) text*/
@media screen and (max-width: 768px) {
  .col-md-6 {
    text-align: center;
  }
  .col-infos {
    text-align: start !important;
  }
  .md-form {
    text-align: left !important;
  }
  .aboutTitle h3 {
    text-align: start !important;
  }
  h1 {
    font-size: 34px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  .desc,
  .header h3 {
    margin-top: 20px !important;
    font-size: 16px !important;
  }
  .middlestep {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .smallestText {
    font-size: 12px !important;
  }
  /* To Adjust */
  .form-inline input {
    width: 60%;
  }
  .form-inline button {
    width: 30%;
  }
}
